.centrado {
    text-align: center;
}

.foto {
    max-width: 600px;
    max-height: 600px;
    border: 1px solid black;
}

.divfoto {
    width: 100%;
    min-height: 100%;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
}
.yummies {
    position: relative;
    left: -15px;
    top: 1px;
}

.comment {
    width: 100%;
    max-height: 100%;
    text-align: right;
}

.pasos {
    width: 600px;
    left: 800px;
}
